<mat-card>
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile *ngIf = "(auth.user | async)?.uid , else logout"
            [colspan]=3
            [rowspan]=1>
            {{title}}
        </mat-grid-tile>
        <ng-template #logout>
        <mat-grid-tile 
            [colspan]=3
            [rowspan]=1>
            Logout successfully
        
        </mat-grid-tile>
        
        </ng-template>
        <mat-grid-tile
            [colspan]=1
            [rowspan]=2>
            <img mat-card-image src="https://live.staticflickr.com/7148/26675429260_110fc5915e_b.jpg" alt="Photo of a Shiba Inu">
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]=1
            [rowspan]=2>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]=2
            [rowspan]=1> 
        
         
            <div class="example-button-row" >
                <button mat-raised-button color="primary" routerLink='/usercoll' *ngIf = "(auth.user | async)?.uid , else buttons123">Go To App</button>
            </div>
            <ng-template #buttons123 >
                <button mat-raised-button color="accent" routerLink='/signup' >Register</button>
                <button mat-raised-button color="primary" routerLink='/login' >Login</button>
              </ng-template>
            </mat-grid-tile>
        
    </mat-grid-list>
    </mat-card>
